<h1>My Tasks</h1>
<% @tasks.each do |task| %>
<%= link_to task_path(task) do %>
    <h4 style="display:inline"><%= task.title %></h4>
    <%end%>
<%if task.completed%>
    <input type="checkbox" checked>
<%else%>
    <input type="checkbox">
<%end%> 
<br>
<% end %>

<%= link_to '/new' do %>
    <p>+Add a new task</p>
<%end%>